/NVIDIA
/Media Cache
/otherversion
/.minecraft/stats
/.minecraft/backups
/.minecraft/texturepacks-mp-cache
/.minecraft/resources
/.minecraft/saves
/.minecraft/lib
/.minecraft/magic
/.minecraft/mods/World*
/.minecraft/LiteLoader.*
/.minecraft/ModLoader.*
/.minecraft/crash-reports
/.minecraft/lastlogin
/.minecraft/ModLoader.*
/.minecraft/LiteLoader.*
/.minecraft/mods/macros
/.minecraft/journeyMap
/.minecraft/audiotori
/.minecraft/matmos
/Launcher.json
/git
/update.bat
*.1
*.2
*.log
*.lck
*.7z
./*.zip
forge.cfg
forgeChunkLoading.cfg
*.viminfo
glslshadersof.updatecheck.txt
Launcher.ini
/pack.bat
/run.bat
debug.*
/.minecraft/default_reference.xml

/.minecraft/cache
/.minecraft/screenshots
/.minecraft/config/mod_ReiMinimap.cfg
/.minecraft/config/ModLoader.cfg
/minecraft.1.5.2.jar
/.minecraft/config/heightmap
